@media (max-width: 699px) {
    html {
        box-sizing: border-box;
    }
    body {
        background-color: #FFFFFF;
    }
    /* Estilos Globales */
    h1 {
        font-family: 'Lobster', cursive;
        font-size: 55px;
        color: #2C384F;
    }
    h2 {
        font-family: 'Permanent Marker', cursive;
        font-size: 30px;
        color: #2C384F;
        text-align: center;
    }
    h3 {
        font-family: 'Permanent Marker', cursive;
        font-size: 18px;
        color: #2C384F;
        text-align: center;
        border: solid #1D191A;
    }
    h4 {
        font-family: 'Lobster', cursive;
        font-size: 30px;
        color: #2C384F;
        text-align: center;
    }
    h5 {
        font-family: 'Lobster', cursive;
        font-size: 25px;
        color: #2C384F;
        text-align: center;
    }
    h6 {
        font-family: 'Lobster', cursive;
        font-size: 20px;
        color: #2C384F;
        text-align: center;
    }
    p {
        font-family: 'Courgette', cursive;
        font-size: 25px;
        color: #3A5683;
        margin: none;
        padding: none;
        display: inline;
        text-align: center;
    }
    .otra-reserva {
        text-decoration: none;
        color: #2C384F;
    }
    .otra-reserva a:hover {
        background-color: #ECE2C6;
        border-radius: 30%;
        transition: 1s;
    }
    /* Utilidadades */
    .seccion {
        max-width: 120rem;
        max-height: 300rem;
        margin: 2px;
        border-color: solid #1D191A;
    }
    .contenedor {
        border: solid #1D191A;
    }
    img {
        display: block;
    }
    video {
        width: 100%;
    }
    .center {
        border-color: 2px solid #1D191A;
        display: flex;
        justify-content: center;
    }
    /* Header */
    .contenedor-header {
        max-width: 120rem;
        max-height: 85rem;
        background-image: url(../IMG/header_bacalar.jpg);
        background-position: center;
        background-size: auto;
        border: solid #1D191A;
        /* display: flex;
        flex-direction: column;
        justify-content: space-between; */
    }
    /* MENU INICIO */
    /* .menu {
        display: flex;
        justify-content: space-between;
    } */
    .menu-navegacion {
        display: block;
        width: 100%;
        position: relative;
    }
    .menu-navegacion a {
        color: #2C384F;
        text-decoration: none;
        font-family: 'Lobster', cursive;
        font-size: 25px;
        margin: .5rem .5rem;
        padding: .2rem .2rem;
    }
    .menu-navegacion a:hover {
        background-color: #ECE2C6;
        transition: .6s;
        border: 1px solid #1D191A;
        border-radius: 30%;
    }
    /* RESERVACION */
    label {
        font-family: 'Courgette', cursive;
        font-size: 25px;
        color: #3A5683;
        margin: none;
        padding: none;
    }
    .style-form {
        border: 3px solid #1D191A;
        text-align: center;
    }
    /*MENU HEADER MAS PAGINAS*/
    .style-header {
        display: flex;
        justify-content: space-between;
        margin: 2px;
        padding: .2rem .2rem;
        text-align: end;
        background-image: url(../IMG/header_bacalar.jpg);
        background-position: center;
        background-size: auto;
        border: solid #1D191A;
    }
    .menu-nav a {
        font-family: 'Lobster', cursive;
        text-decoration: none;
        color: #2C384F;
        font-size: 25px;
        margin: 10px;
        display: flex;
        justify-content: center center;
    }
    .titulo-header {
        text-align: center;
    }
    .menu-nav a:hover {
        color: #ECE2C6;
    }
    /* FOOTER */
    .footer {
        padding: 1rem 0.2rem 0.2rem 0.2rem;
        text-align: end;
    }
    .footer-menu a {
        font-family: 'Lobster', cursive;
        text-decoration: none;
        color: #2C384F;
        font-size: 25px;
        margin: 10px;
    }
    .footer-menu a:hover {
        color: #ECE2C6;
    }
}